body {
    background-color: #911;
    color: #fed;
    font-family: sans-serif;
    line-height: 1;
    margin-top: 1.0em;
    text-align: center;
    text-shadow: 1px -1px 1px red;
}
h1 {
    bottom: 3%;
    color: #733;
    font-size: 4em;
    margin: auto;
    position: absolute;
}
h2 {
    color: #333;
    font-size: 2em;
}
a {
    color: #9c0;
    text-shadow: -1px 2px 11px green;
}
hr {
    border: 0;
    border-bottom: 4px solid #b00;
    box-shadow: 3px 3px 33px red;
    width: 66%;
}
.description {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 30px;
}
#ribbon {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}
input, textarea {
    box-shadow: 0 0 11px #733;
}